<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <connectionStrings>
    <clear/>
    <add name="ConnectionDataBase" connectionString="Data Source=ICONSU\ICONSU;Initial Catalog=BiblioTec;User ID=sa;Password=consu1995" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
